src/main/mule/timezone-api-cicd-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5345ef00-2228-4607-8a3b-fb8780c013b7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="98004a26-77e5-495e-8137-7c4cb7027012" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<flow name="timezone-api-cicd-pipelineFlow" doc:id="91a2ee8c-2d5f-4a21-98df-2b7d72510b02" >
		<http:listener doc:name="Listener" doc:id="ad4bbf64-de43-47f1-bc8f-ad1a56581934" config-ref="HTTP_Listener_config" path="/api/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="49b2d64b-0c01-4d43-be5d-df8da50dda20" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
